.idea
shaderpacks
mods/[1.20.1] SecurityCraft v1.9.10.jar
mods/[1.20.1] SecurityCraft v1.9.10.jar
mods/[1.20.1] SecurityCraft v1.9.10.jar
mods/[Forge]CTOV-v3.4.5.jar
mods/absentbydesign-1.20.1-1.8.0.jar
mods/ad_astra-forge-1.20.1-1.15.18.jar
mods/Ad-Astra-Giselle-Addon-forge-1.20.1-6.10.jar
mods/additional_lights-1.20.1-2.1.7.jar
mods/AdditionalEnchantedMiner-1.20.1-1201.1.66.jar
mods/additionallanterns-1.1.1a-forge-mc1.20.jar
mods/AdvancedPeripherals-1.20.1-0.7.40r.jar
mods/advgenerators-1.6.0.6-mc1.20.1.jar
mods/AE2-Things-1.2.1.jar
mods/ae2insertexportcard-1.20.1-1.2.2.jar
mods/ae2wtlib-15.2.3-forge.jar
mods/AEAdditions-1.20.1-5.0.6.jar
mods/AEInfinityBooster-1.20.1-1.0.0+21.jar
mods/aether-1.20.1-1.4.2-neoforge.jar
mods/AI-Improvements-1.20-0.5.2.jar
mods/aiotbotania-1.20.1-4.0.5.jar
mods/alchemistry-1.20.1-2.3.4.jar
mods/alchemylib-1.20.1-1.0.30.jar
mods/allthecompressed-1.20.1-3.0.2.jar
mods/allthemodium-1.20.1-47.1.25-2.5.1.jar
mods/alltheores-1.20.1-47.1.3-2.2.4.jar
mods/allthetweaks-1.20.1-47.2.20-2.3.2.jar
mods/allthewizardgear-1.20.1-1.1.4.jar
mods/almostunified-forge-1.20.1-0.9.4.jar
mods/amendments-1.20-1.2.8.jar
mods/AngelRing2-1.20.1-2.2.2.jar
mods/Apotheosis-1.20.1-7.4.0.jar
mods/ApothicAttributes-1.20.1-1.3.6.jar
mods/appleskin-forge-mc1.20.1-2.5.1.jar
mods/Applied-Botanics-forge-1.5.0.jar
mods/Applied-Mekanistics-1.4.2.jar
mods/appliedenergistics2-forge-15.2.9.jar
mods/AppliedFlux-1.20-1.1.8-forge.jar
mods/Aquaculture-1.20.1-2.5.1.jar
mods/architectury-9.2.14-forge.jar
mods/ars_creo-1.20.1-4.1.0.jar
mods/ars_elemental-1.20.1-0.6.5.jar
mods/ars_nouveau-1.20.1-4.12.1-all.jar
mods/ars_ocultas-1.20.1-1.2.2-all.jar
mods/arseng-1.2.0.jar
mods/artifacts-forge-9.5.11.jar
mods/athena-forge-1.20.1-3.1.2.jar
mods/AttributeFix-Forge-1.20.1-21.0.4.jar
mods/balm-forge-1.20.1-7.3.6-all.jar
mods/BambooEverything-forge-3.0.3+mc1.20.1.jar
mods/baubley-heart-canisters-1.20.1-1.0.5.jar
mods/bdlib-1.27.0.8-mc1.20.1.jar
mods/BetterAdvancements-Forge-1.20.1-0.4.2.10.jar
mods/BetterF3-7.0.2-Forge-1.20.1.jar
mods/BiomesOPlenty-1.20.1-18.0.0.598.jar
mods/blockui-1.20.1-1.0.156-RELEASE.jar
mods/bloodmagic-1.20.1-3.3.3-45.jar
mods/blue_skies-1.20.1-1.3.31.jar
mods/blueflame-1.20.0-1.0.3.jar
mods/Bookshelf-Forge-1.20.1-20.2.13.jar
mods/Botania-1.20.1-445-FORGE.jar
mods/BotanyPots-Forge-1.20.1-13.0.36.jar
mods/BotanyTrees-Forge-1.20.1-9.0.11.jar
mods/botarium-forge-1.20.1-2.3.4.jar
mods/BrandonsCore-1.20.1-3.2.1.302-universal.jar
mods/buildinggadgets2-1.0.7.jar
mods/bwncr-forge-1.20.1-3.17.0.jar
mods/cabletiers-1.20.1-1.2.2.jar
mods/caelus-forge-3.2.0+1.20.1.jar
mods/caupona-1.20.1-0.4.9.jar
mods/cc-tweaked-1.20.1-forge-1.111.0.jar
mods/cfm-forge-1.20.1-7.0.0-pre36.jar
mods/charginggadgets-1.11.0.jar
mods/charmofundying-forge-6.5.0+1.20.1.jar
mods/chemlib-1.20.1-2.0.19.jar
mods/Chimes-v2.0.1-1.20.1.jar
mods/Chipped-forge-1.20.1-3.0.6.jar
mods/cleanswing-1.20-1.5.jar
mods/clickadv-1.20.1-3.8.jar
mods/cloth-config-11.1.118-forge.jar
mods/Clumps-forge-1.20.1-12.0.0.4.jar
mods/CodeChickenLib-1.20.1-4.4.0.512-universal.jar
mods/cofh_core-1.20.1-11.0.2.56.jar
mods/colorfulhearts-forge-1.20.1-4.3.13.jar
mods/comforts-forge-6.4.0+1.20.1.jar
mods/CommonCapabilities-1.20.1-2.9.1.jar
mods/connectedglass-1.1.11-forge-mc1.20.1.jar
mods/connectivity-1.20.1-5.6.jar
mods/constructionwand-1.20.1-2.11.jar
mods/Controlling-forge-1.20.1-12.0.2.jar
mods/cookingforblockheads-forge-1.20.1-16.0.6.jar
mods/corail_woodcutter-1.20.1-3.0.4.jar
mods/CorgiLib-forge-1.20.1-4.0.1.3.jar
mods/corn_delight-1.0.4-1.20.1.jar
mods/cosmeticarmorreworked-1.20.1-v1a.jar
mods/crafting-on-a-stick-1.20.1-1.1.5.jar
mods/craftingtweaks-forge-1.20.1-18.2.4.jar
mods/crashutilities-8.1.4.jar
mods/create_enchantment_industry-1.20.1-for-create-0.5.1.f-1.2.9.d.jar
mods/create_jetpack-forge-4.2.1.jar
mods/create-1.20.1-0.5.1.f.jar
mods/create-new-age-forge-1.20.1-1.1.2.jar
mods/createaddition-1.20.1-1.2.4d.jar
mods/createoreexcavation-1.20-1.5.0.jar
mods/creeperoverhaul-3.0.2-forge.jar
mods/cristellib-1.1.5-forge.jar
mods/Croptopia-1.20.1-FORGE-3.0.4.jar
mods/Cucumber-1.20.1-7.0.9.jar
mods/cupboard-1.20.1-2.7.jar
mods/curios-forge-5.9.1+1.20.1.jar
mods/CyclopsCore-1.20.1-1.19.2.jar
mods/dankstorage-forge-1.20.1-8.jar
mods/DarkModeEverywhere-1.20.1-1.2.2.jar
mods/DarkPaintings-Forge-1.20.1-17.0.4.jar
mods/DarkUtilities-Forge-1.20.1-17.0.3.jar
mods/deeperdarker-forge-1.20.1-1.2.1.jar
mods/deepresonance-1.20-5.0.4.jar
mods/DefaultSettings-1.20.x-4.0.7-Forge.jar
mods/Delightful-1.20.1-3.5.8.jar
mods/DimStorage-1.20.1-8.0.1.jar
mods/Ding-1.20.1-Forge-1.4.1.jar
mods/domum_ornamentum-1.20.1-1.0.189-BETA-universal.jar
mods/Draconic-Evolution-1.20.1-3.1.2.583-universal.jar
mods/Dungeon Crawl-1.20.1-2.3.14.jar
mods/DungeonsArise-1.20.x-2.1.58-release.jar
mods/durabilitytooltip-1.1.5-forge-mc1.20.jar
mods/dyenamics-1.20.1-3.2.0.jar
mods/dyenamicsandfriends-1.20.1-1.8.0.jar
mods/dynamiclightsreforged-1.20.1_v1.6.0.jar
mods/easy-villagers-forge-1.20.1-1.1.15.jar
mods/eccentrictome-1.20.1-1.10.2.jar
mods/EdivadLib-1.20.1-2.0.1.jar
mods/eidolon_repraised-1.20.1-0.3.8.11.jar
mods/elevatorid-1.20.1-lex-1.9.jar
mods/elytraslot-forge-6.4.1+1.20.1.jar
mods/embeddium-0.3.25+mc1.20.1.jar
mods/enderchests-forge-1.20.1-1.2.jar
mods/EnderIO-1.20.1-6.1.8-beta-all.jar
mods/endermanoverhaul-forge-1.20.1-1.0.4.jar
mods/endersdelight-1.20.1-1.0.3.jar
mods/endertanks-forge-1.20.1-1.3.jar
mods/ends_delight-1.20.1-2.4.jar
mods/energymeter-forge-1.20.1-1.0.0.jar
mods/ensorcellation-1.20.1-5.0.2.24.jar
mods/entangled-1.3.18-forge-mc1.20.jar
mods/entityculling-forge-1.6.6-mc1.20.1.jar
mods/EpheroLib-1.20.1-FORGE-1.2.0.jar
mods/EuphoriaPatcher-0.3.4-forge.jar
mods/everythingcopper-1.20.1-2.3.4.jar
mods/EvilCraft-1.20.1-1.2.41.jar
mods/Exchangers-1.20.1-3.5.1.jar
mods/ExtendedAE-1.20-1.1.11-forge.jar
mods/ExtraDisks-1.20.1-3.0.2.jar
mods/ExtraStorage-1.20.1-4.0.7.jar
mods/ExtremeReactors2-1.20.1-2.0.83.jar
mods/ExtremeSoundMuffler-3.48-forge-1.20.1.jar
mods/FarmersDelight-1.20.1-1.2.4.jar
mods/farmingforblockheads-forge-1.20.1-14.0.2.jar
mods/farsight-1.20.1-3.7.jar
mods/FastFurnace-1.20.1-8.0.2.jar
mods/FastLeafDecay-32.jar
mods/FastSuite-1.20.1-5.0.1.jar
mods/FastWorkbench-1.20.1-8.0.4.jar
mods/ferritecore-6.0.1-forge.jar
mods/findme-3.2.1-forge.jar
mods/flib-1.20.1-0.0.14.jar
mods/flickerfix-1.20.1-4.0.1.jar
mods/FluxNetworks-1.20.1-7.2.1.15.jar
mods/forbidden_arcanus-1.20.1-2.2.6.jar
mods/FramedBlocks-9.3.0.jar
mods/ftb-chunks-forge-2001.3.1.jar
mods/ftb-essentials-forge-2001.2.2.jar
mods/ftb-library-forge-2001.2.3.jar
mods/ftb-quests-forge-2001.4.8.jar
mods/ftb-ranks-forge-2001.1.3.jar
mods/ftb-teams-forge-2001.3.0.jar
mods/ftb-ultimine-forge-2001.1.5.jar
mods/ftb-xmod-compat-forge-2.1.1.jar
mods/fuelgoeshere-1.20.0-1.0.1.jar
mods/functionalstorage-1.20.1-1.2.11.jar
mods/fusion-1.1.1-forge-mc1.20.1.jar
mods/GatewaysToEternity-1.20.1-4.2.5.jar
mods/geckolib-forge-1.20.1-4.4.7.jar
mods/generatorgalore-1.20.1-1.2.4.jar
mods/getittogetherdrops-forge-1.20-1.3.jar
mods/Glassential-renewed-forge-1.20.1-2.4.0.jar
mods/Glodium-1.20-1.5-forge.jar
mods/GravitationalModulatingAdditionalUnit-1.20.1-3.2.jar
mods/gtceu-1.20.1-1.3.1.jar
mods/GunpowderLib-1.20.2-2.2.2.jar
mods/handcrafted-forge-1.20.1-3.0.6.jar
mods/harvestwithease-1.20.1-8.0.1.0-forge.jar
mods/HostileNeuralNetworks-1.20.1-5.3.0.jar
mods/hyperbox-1.20.1-4.0.2.0.jar
mods/ImmersiveEngineering-1.20.1-10.0.0-169.jar
mods/industrial-foregoing-1.20.1-3.5.19.jar
mods/industrial-foregoing-souls-1.20.1-1.0.7.jar
mods/IntegratedCrafting-1.20.1-1.1.7.jar
mods/IntegratedDynamics-1.20.1-1.22.1.jar
mods/IntegratedTerminals-1.20.1-1.4.15.jar
mods/IntegratedTunnels-1.20.1-1.8.28.jar
mods/inventoryessentials-forge-1.20.1-8.2.6.jar
mods/invtweaks-1.20.1-1.1.0.jar
mods/ironfurnaces-1.20.1-4.1.6.jar
mods/IronJetpacks-1.20.1-7.0.6.jar
mods/irons_spellbooks-1.20.1-3.3.0.jar
mods/item-filters-forge-2001.1.0-build.59.jar
mods/itemcollectors-1.1.10-forge-mc1.20.jar
mods/Jade-1.20.1-forge-11.9.4.jar
mods/JadeAddons-1.20.1-forge-5.2.2.jar
mods/JCPlugin-1.17.x-1.20.x-4.0.4-Forge.jar
mods/jearchaeology-1.20.1-1.0.4.jar
mods/jei-1.20.1-forge-15.4.0.9.jar
mods/jmi-forge-1.20.1-0.14-48.jar
mods/journeymap-1.20.1-5.10.1-forge.jar
mods/jumpboat-1.20.0-1.0.5.jar
mods/JustEnoughMekanismMultiblocks-1.20.1-4.2.jar
mods/JustEnoughProfessions-forge-1.20.1-3.0.1.jar
mods/JustEnoughResources-1.20.1-1.4.0.247.jar
mods/justzoom_forge_1.0.2_MC_1.20.1.jar
mods/konkrete_forge_1.8.0_MC_1.20-1.20.1.jar
mods/kotlinforforge-4.11.0-all.jar
mods/kubejs-forge-2001.6.5-build.14.jar
mods/L_Enders_Cataclysm-1.99.6-1.20.1.jar
mods/laserio-1.6.8.jar
mods/LibX-1.20.1-5.0.14.jar
mods/lionfishapi-1.9.jar
mods/lithostitched-forge-1.20.1-1.1.6.jar
mods/littlecontraptions-forge-1.20.1.2.jar
mods/littlelogistics-mc1.20.1-v1.20.1.2.jar
mods/logprot-1.20.1-3.4.jar
mods/lootr-forge-1.20-0.7.34.86.jar
mods/lost_aether_content-1.20.1-1.2.3.jar
mods/lostcities-1.20-7.1.8.jar
mods/macawsbridgesbop-1.20-1.3.jar
mods/macawsroofsbop-1.20-1.0.jar
mods/mahoutsukai-1.20.1-v1.34.69.jar
mods/matc-1.6.0.jar
mods/mcjtylib-1.20-8.0.5.jar
mods/mcw-bridges-3.0.0-mc1.20.1forge.jar
mods/mcw-doors-1.1.1forge-mc1.20.1.jar
mods/mcw-fences-1.1.2-mc1.20.1forge.jar
mods/mcw-furniture-3.2.2-mc1.20.1forge.jar
mods/mcw-lights-1.1.0-mc1.20.1forge.jar
mods/mcw-paintings-1.0.5-1.20.1forge.jar
mods/mcw-paths-1.0.5-1.20.1forge.jar
mods/mcw-roofs-2.3.0-mc1.20.1forge.jar
mods/mcw-trapdoors-1.1.3-mc1.20.1forge.jar
mods/mcw-windows-2.2.1-mc1.20.1forge.jar
mods/mcwfencesbop-1.20-1.1.jar
mods/Measurements-forge-1.20.1-2.0.0.jar
mods/megacells-forge-2.4.4-1.20.1.jar
mods/Mekanism-1.20.1-10.4.8.43.jar
mods/MekanismGenerators-1.20.1-10.4.8.43.jar
mods/MekanismTools-1.20.1-10.4.8.43.jar
mods/memorysettings-1.20.1-5.5.jar
mods/merequester-forge-1.20.1-1.1.4.jar
mods/minecolonies-1.20.1-1.1.610-BETA.jar
mods/mininggadgets-1.15.6.jar
mods/mob_grinding_utils-1.20.1-1.1.0.jar
mods/MobDespawnTimers-1.20.1-3.0.1.jar
mods/modelfix-1.15.jar
mods/modernfix-forge-5.18.6+mc1.20.1.jar
mods/modonomicon-1.20.1-forge-1.73.1.jar
mods/modular-routers-12.1.1+mc1.20.1.jar
mods/moonlight-1.20-2.12.8-forge.jar
mods/moredragoneggs-4.0.jar
mods/morejs-forge-1.20.1-0.10.0.jar
mods/moreoverlays-1.22.7-mc1.20.2.jar
mods/morered-1.20.1-4.0.0.4.jar
mods/MouseTweaks-forge-mc1.20.1-2.25.1.jar
mods/multipiston-1.20-1.2.43-RELEASE.jar
mods/MyServerIsCompatible-1.20-1.0.jar
mods/mysterious_mountain_lib-1.4.7-1.20.1.jar
mods/MysticalAgradditions-1.20.1-7.0.3.jar
mods/MysticalAgriculture-1.20.1-7.0.11.jar
mods/MysticalCustomization-1.20.1-5.0.1.jar
mods/MythicBotany-1.20.1-4.0.3.jar
mods/naturalist-forge-4.0.3-1.20.1.jar
mods/NaturesAura-39.4.jar
mods/NaturesCompass-1.20.1-1.11.2-forge.jar
mods/netherportalfix-forge-1.20-13.0.1.jar
mods/nethersdelight-1.20.1-4.0.jar
mods/NoChatReports-FORGE-1.20.1-v2.2.2.jar
mods/noflyzone-1.20.1-1.1.0.jar
mods/notrample-1.20.1-1.0.1.jar
mods/novillagerdm-1.20.1-5.0.0.jar
mods/observable-4.4.1.jar
mods/occultism-1.20.1-1.132.1.jar
mods/oceansdelight-1.0.2-1.20.jar
mods/oculus-mc1.20.1-1.7.0.jar
mods/PacketFixer-forge-1.20.1-1.2.7.jar
mods/PackingTape-1.20.1-0.14.2.jar
mods/PackMenu-1.20.1-6.1.2.jar
mods/Paraglider-forge-20.1.3.jar
mods/Patchouli-1.20.1-84-FORGE.jar
mods/PigPen-Forge-1.20.1-15.0.2.jar
mods/pipez-forge-1.20.1-1.2.15.jar
mods/Placebo-1.20.1-8.6.2.jar
mods/platforms-forge-1.20.1-1.1.jar
mods/player-animation-lib-forge-1.0.2-rc1+1.20.jar
mods/pneumaticcraft-repressurized-6.0.15+mc1.20.1.jar
mods/polyeng-forge-0.1.1-1.20.1.jar
mods/polymorph-forge-0.49.5+1.20.1.jar
mods/ponderjs-1.20.1-1.3.1.jar
mods/Potion-Blender-1.20.1-FORGE-3.1.1.jar
mods/potionsmaster-1.20.1-47.1.70-0.6.0.jar
mods/Powah-5.0.5.jar
mods/productivebees-1.20.1-12.5.3.jar
mods/productivetrees-1.20.1-0.2.6.jar
mods/pylons-1.20.1-4.2.1.jar
mods/Quark-4.0-458.jar
mods/railcraft-reborn-1.20.1-1.1.6.jar
mods/rangedpumps-1.1.0.jar
mods/rebornstorage-1.20.1-5.0.7.jar
mods/rechiseled-1.1.6-forge-mc1.20.jar
mods/rechiseledcreate-1.0.2-forge-mc1.20.jar
mods/redstone_arsenal-1.20.1-8.0.1.24.jar
mods/refinedpolymorph-0.1.1-1.20.1.jar
mods/refinedstorage-1.12.4.jar
mods/refinedstorageaddons-0.10.0.jar
mods/reliquary-1.20.1-2.0.41.1229.jar
mods/repurposed_structures-7.1.15+1.20.1-forge.jar
mods/resourcefulconfig-forge-1.20.1-2.1.2.jar
mods/resourcefullib-forge-1.20.1-2.1.25.jar
mods/rftoolsbase-1.20-5.0.4.jar
mods/rftoolsbuilder-1.20-6.0.5.jar
mods/rftoolscontrol-1.20-7.0.2.jar
mods/rftoolspower-1.20-6.0.2.jar
mods/rftoolsstorage-1.20-5.0.3.jar
mods/rftoolsutility-1.20-6.0.6.jar
mods/rhino-forge-2001.2.2-build.18.jar
mods/RSInfinityBooster-1.20.1-1.0+32.jar
mods/rsinsertexportupgrade-1.20.1-1.4.0.jar
mods/rsrequestify-1.20.1-2.3.3.jar
mods/Runelic-Forge-1.20.1-18.0.2.jar
mods/ScalableCatsForce-3.3.1-build-0-with-library.jar
mods/Searchables-forge-1.20.1-1.0.3.jar
mods/serverconfigupdater-4.0.2.jar
mods/shetiphiancore-forge-1.20.1-1.3.jar
mods/Shrink-1.20.1-1.4.5.jar
mods/silent-gear-1.20.1-3.6.5.jar
mods/silent-lib-1.20.1-8.0.0.jar
mods/SimpleBackups-1.20.1-3.1.6.jar
mods/simplemagnets-1.1.11-forge-mc1.20.jar
mods/simplylight-1.20.1-1.4.6-build.50.jar
mods/sliceanddice-forge-3.2.1.jar
mods/SmartBrainLib-forge-1.20.1-1.14.2.jar
mods/solcarrot-1.20.1-1.15.1.jar
mods/sophisticatedbackpacks-1.20.1-3.20.5.1044.jar
mods/sophisticatedcore-1.20.1-0.6.22.611.jar
mods/sophisticatedstorage-1.20.1-0.10.25.804.jar
mods/spark-1.10.53-forge.jar
mods/sparsestructuresreforged-1.20.1-1.0.0.jar
mods/Stargate Journey-1.20.1-0.6.27.jar
mods/Steam_Rails-1.6.4+forge-mc1.20.1.jar
mods/Structory_1.20.x_v1.3.5.jar
mods/structure_gel-1.20.1-2.16.2.jar
mods/StructureCompass-1.20.1-2.0.9.jar
mods/structurize-1.20.1-1.0.742-RELEASE.jar
mods/stylecolonies-1.5.jar
mods/Super Factory Manager-1.20.1-4.17.0.jar
mods/supermartijn642configlib-1.1.8-forge-mc1.20.jar
mods/supermartijn642corelib-1.1.17-forge-mc1.20.1.jar
mods/supplementaries-1.20-2.8.17.jar
mods/sushigocrafting-1.20.1-0.5.2.jar
mods/tempad-forge-1.20.1-2.3.4.jar
mods/TerraBlender-forge-1.20.1-3.0.1.7.jar
mods/Terralith_1.20.x_v2.5.4.jar
mods/The_Undergarden-1.20.1-0.8.14.jar
mods/thermal_cultivation-1.20.1-11.0.1.24.jar
mods/thermal_dynamics-1.20.1-11.0.1.23.jar
mods/thermal_expansion-1.20.1-11.0.1.29.jar
mods/thermal_foundation-1.20.1-11.0.6.70.jar
mods/thermal_innovation-1.20.1-11.0.1.23.jar
mods/thermal_integration-1.20.1-11.0.1.27.jar
mods/thermal_locomotion-1.20.1-11.0.1.19.jar
mods/ThermalExtra-3.0.9-1.20.1.jar
mods/theurgy-1.20.1-1.19.3.jar
mods/time-in-a-bottle-4.0.4-mc1.20.1.jar
mods/tinyredstone-1.20-5.0.2.jar
mods/titanium-1.20.1-3.8.32.jar
mods/ToastControl-1.20.1-8.0.3.jar
mods/tombstone-1.20.1-8.6.7.jar
mods/ToolBelt-1.20.1-1.20.01.jar
mods/torchmaster-20.1.6.jar
mods/totw_modded-forge-1.20.1-1.0.5.jar
mods/Towns-and-Towers-1.12-Fabric+Forge.jar
mods/towntalk-1.20.1-1.1.0.jar
mods/trashcans-1.0.18b-forge-mc1.20.jar
mods/trashslot-forge-1.20-15.1.0.jar
mods/travelersbackpack-forge-1.20.1-9.1.15.jar
mods/Twigs-1.20.1-3.1.0.jar
mods/twilightdelight-2.0.12.jar
mods/twilightforest-1.20.1-4.3.2508-universal.jar
mods/universalgrid-1.20.1-1.1.jar
mods/utilitarian-1.20.1-0.9.1.jar
mods/UtilitiX-1.20.1-0.8.20.jar
mods/valhelsia_core-forge-1.20.1-1.1.2.jar
mods/villagertools-1.20.1-1.0.3.jar
mods/Voidscape-1.20.1-1.5.389.jar
mods/voidtotem-forge-1.20-3.0.1.jar
mods/waystones-forge-1.20-14.1.4.jar
mods/wirelesschargers-1.0.9a-forge-mc1.20.jar
mods/WitherSkeletonTweaks-1.20.1-9.1.0.jar
mods/xnet-1.20-6.1.4.jar
mods/xnetgases-1.20.1-5.0.0.jar
mods/YeetusExperimentus-Forge-2.3.1-build.6+mc1.20.1.jar
mods/YungsApi-1.20-Forge-4.0.5.jar
mods/YungsBetterDesertTemples-1.20-Forge-3.0.3.jar
mods/YungsBetterDungeons-1.20-Forge-4.0.4.jar
mods/YungsBetterEndIsland-1.20-Forge-2.0.6.jar
mods/YungsBetterJungleTemples-1.20-Forge-2.0.5.jar
mods/YungsBetterMineshafts-1.20-Forge-4.0.4.jar
mods/YungsBetterNetherFortresses-1.20-Forge-2.0.6.jar
mods/YungsBetterOceanMonuments-1.20-Forge-3.0.4.jar
mods/YungsBetterStrongholds-1.20-Forge-4.0.3.jar
mods/YungsBetterWitchHuts-1.20-Forge-3.0.3.jar
mods/YungsExtras-1.20-Forge-4.0.3.jar
mods/ZeroCore2-1.20.1-2.1.44.jar
mods/Zeta-1.0-19.jar
mods/.index
mods/CTOV-v3.4.5.jar
mods/SecurityCraft v1.9.10.jar
logs
.mixin.out
blueprints
local
journeymap
resourcepacks/Quark Programmer Art.zip
options.txt
keys.txt
icon.png
crash-reports
saves
modernfix
ESM
usercache.json
usernamecache.json
observable_announce
simplebackups